<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h3 class="title is-4">Mātete nō Tahiti</h3>
                <p class="subtitle is-6">La place de marché polynésienne</p>
            </div>
            
            <div class="column">
                <h4 class="title is-5">Contact</h4>
                <ul>
                    <li>
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span>contact@matetenotahiti.com</span>
                        </span>
                    </li>
                    <li>
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-phone"></i>
                            </span>
                            <span>+689 87 123 456</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="content has-text-centered mt-6">
            <p>&copy; 2024 Mātete nō Tahiti. Tous droits réservés.</p>
        </div>
    </div>
</footer>