<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="title is-4">Mātete nō Tahiti</h1>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-home"></i>
                        </span>
                        <span>Accueil</span>
                    </span>
                </a>

                <a href="/products" class="navbar-item">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-box"></i>
                        </span>
                        <span>Produits</span>
                    </span>
                </a>

                <a href="/sellers" class="navbar-item">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-store"></i>
                        </span>
                        <span>Vendeurs</span>
                    </span>
                </a>

                <a href="/contact" class="navbar-item">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span>Contact</span>
                    </span>
                </a>
            </div>

            <div class="navbar-end">
                {{#if user}}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-user-circle"></i>
                                </span>
                                <span>{{user.name}}</span>
                            </span>
                        </a>

                        <div class="navbar-dropdown is-right">

                            {{#if (eq user.role "vendeur")}}
                                <a href="/products/create" class="navbar-item">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span>Ajouter un produit</span>
                                    </span>
                                </a>
                            {{/if}}

                            {{#if (eq user.role "admin")}}
                                <a href="/admin/users" class="navbar-item">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fas fa-users-cog"></i>
                                        </span>
                                        <span>Gestion utilisateurs</span>
                                    </span>
                                </a>
                                <a href="/admin/products" class="navbar-item">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fas fa-boxes"></i>
                                        </span>
                                        <span>Gestion produits</span>
                                    </span>
                                </a>
                            {{/if}}

                            <hr class="navbar-divider">

                            <a href="/profile" class="navbar-item">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span>Mon profil</span>
                                </span>
                            </a>

                            <a href="/auth/logout" class="navbar-item">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </span>
                                    <span>Déconnexion</span>
                                </span>
                            </a>
                        </div>
                    </div>
                {{else}}
                    <div class="navbar-item">
                        <div class="buttons">
                            <a href="/auth/register" class="button is-primary">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-user-plus"></i>
                                    </span>
                                    <span>Inscription</span>
                                </span>
                            </a>
                            <a href="/auth/login" class="button is-light">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-sign-in-alt"></i>
                                    </span>
                                    <span>Connexion</span>
                                </span>
                            </a>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</nav>