<h2>Create user</h2>
<div class="container">
    <div class="card">
        <form method="post" action="/users/create">
        <div>
            <label for="name">Name</label>
            <input id="name" type="text" name="name">
        </div>
        <div>
            <label for="profil">Profil</label>
            <select>
                <optgroup>
                    <option>Client</option>
                    <option>Vendeur</option>
                    <option>Admin</option>
                </optgroup>
            </select>
        </div>
        <div>
            <label for="email">E-mail</label>
            <input id="email" type="email" name="email">
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input id="password" type="password" name="password">
        </div>
        <div>
            <a href="/users"><button type="button">Cancel</button></a>
            <button type="submit">Add</button>
        </div>
        </form>
    </div>
</div>