<h2>Create product</h2>
<div class="container">
    <div class="card">
        <form method="post" action="/products/create">
        <div>
            <label for="name">Name</label>
            <input id="name" type="text" name="name">
        </div>
        <div>
            <label for="price">Price</label>
            <input id="price" type="price" name="price">
        </div>
        <div>
            <a href="/products"><button type="button">Cancel</button></a>
            <button type="submit">Add</button>
        </div>
        </form>
    </div>
</div>